<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msiraider.newproject">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Price.ViewHistory.RecordActivity"></activity>
        <activity android:name=".Map.MapActivity"></activity>
        <activity android:name=".Price.ViewHistory.ListRecord.ListRecordCassava"></activity>
        <activity android:name=".Price.ViewHistory.ListRecord.ListRecordCorn"></activity>
        <activity android:name=".Price.ViewHistory.ListRecord.ListRecordJasmine"></activity>
        <activity android:name=".Price.ViewHistory.ListRecord.ListRecordSticky"></activity>
        <activity android:name=".Price.ViewHistory.nineMonthRecord.nineMonthCassava"></activity>
        <activity android:name=".Price.ViewHistory.nineMonthRecord.nineMonthCorn"></activity>
        <activity android:name=".Price.ViewHistory.nineMonthRecord.nineMonthJasmine"></activity>
        <activity android:name=".Price.ViewHistory.nineMonthRecord.nineMonthSticky"></activity>
        <activity android:name=".Price.ViewHistory.tenYearRecord.tenYearCassava"></activity>
        <activity android:name=".Price.ViewHistory.tenYearRecord.tenYearCorn"></activity>
        <activity android:name=".Price.ViewHistory.tenYearRecord.tenYearJasmine"></activity>
        <activity android:name=".Price.ViewHistory.tenYearRecord.tenYearSticky"></activity>
        <activity android:name=".Price.ViewHistory.threeMonthRecord.threeMonthCassava"></activity>
        <activity android:name=".Price.ViewHistory.threeMonthRecord.threeMonthCorn"></activity>
        <activity android:name=".Price.ViewHistory.threeMonthRecord.threeMonthJasmine"></activity>
        <activity android:name=".Price.ViewHistory.threeMonthRecord.threeMonthSticky"></activity>
        <activity android:name=".Price.ViewHistory.twoYearRecord.twoYearCassava"></activity>
        <activity android:name=".Price.ViewHistory.twoYearRecord.twoYearJasmine"></activity>
        <activity android:name=".Price.ViewHistory.twoYearRecord.twoYearCorn"></activity>
        <activity android:name=".Price.ViewHistory.twoYearRecord.twoYearSticky"></activity>

        <activity android:name=".FAQ.FaqHomeActivity"></activity>
        <activity android:name=".FAQ.UserManualActivity"></activity>
        <activity android:name=".FAQ.FaqActivity"></activity>
        <activity android:name=".FAQ.AboutActivity"></activity>
        <activity android:name=".FAQ.ContactActivity"></activity>
        <activity android:name=".Register.RegisterActivity"></activity>
        <activity android:name=".Price.Prediction.PreditionActivity"></activity>
        <activity android:name=".Price.Prediction.Price.CassavaPrice"></activity>
        <activity android:name=".Price.Prediction.Price.CornPrice"></activity>
        <activity android:name=".Price.Prediction.Price.JasmineRice"></activity>
        <activity android:name=".Price.Prediction.Price.StickyPrice"></activity>

    </application>

</manifest>